.card {
	background-color: rgb(26, 73, 34);
	height: 500px;
	width: 350px;
	padding: 15px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 4px 4px rgba(1, 1, 1, 0.5);
}

.title {
	font-family: Arial sans-serif;
}

.card-image {
	display: block;
	width: 95%;
	height: auto;
	border: 3px solid rgb(100, 204, 100);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.card-description {
	color: white;
	size: larger;
	margin: 20px;
}