.card {
	background-color: #07A;
	height: 500px;
	width: 350px;
	margin: 20px;
	border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: black;
}

.card-body {

}

.card-name{
    margin-left: 10px;
    font-size: xx-large;
    font-weight: 200;
}

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 10px;
    width: 300;
    height: auto;
    border: 5px;
    border-style: solid;
    border-color: black;

}

.card-description {
	color: white;
	margin: 20px;
	text-align: center;
}