.card{
background-color: rgb(77, 148, 240);
height: 300px;
width: 200px;
margin: 30px;


}

.card-racer{
    bacground-image: url (https://i.pinimg.com/originals/6e/94/fe/6e94feff98ca9970d02d3b38a518fe10.jpg);

    
}