.card{
background-color: rgb(77, 148, 240);
height: 500px;
width: 350px;
padding: 15px 20px 20px 20px;
border-radius: 10px;
box-shadow: 4px 4px rgba(1, 1, 1, 0.5);


}

.card-speed{
    display: block;
    width: 95%;
	height: auto;
	border: 3px solid rgb(225, 136, 252);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;

    
}

.card-racer{

}